<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="teampage2 team inner-style gray-bg style1 pt-50 pb-50 md-pt-50 md-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/shivani-singh.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Ms Shivani Singh</a></h4>
                            <span class="designation">Project Manager</span>
                            <span class="teamText">The highest education is that which does not merely give us
                                information but makes our life in harmony with all existence" – Rabindranath
                                Tagore</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/abhay-pratap-singh.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Abhay Pratap Singh</a></h4>
                            <span class="designation">Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/avinash-yadav.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Avinash Yadav</a></h4>
                            <span class="designation">Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/jyoti-singh.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Ms. Jyoti Singh</a></h4>
                            <span class="designation">Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/naval-chaudhary.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Naval Chaudhary</a></h4>
                            <span class="designation">Project Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/arvind-pandey.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Arvind Pandey</a></h4>
                            <span class="designation">MIS Manager</span>
                        </div>
                    </div>
                </div>
                <!--   <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/pradeep-kumar.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Pradeep Kumar</a></h4>
                            <span class="designation">MIS Executive</span>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/kapil-dev.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Kapil Dev</a></h4>
                            <span class="designation">Centre Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/prince-kumar-soni.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Prince Kumar Soni</a></h4>
                            <span class="designation">Assistant Account Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/Sabir-Sir.jpeg" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Sabir</a></h4>
                            <span class="designation">Project Co-ordinator</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
                    <div class="team-item">
                        <img src="assets/img/team/team2/jitender.webp" alt="team">
                        <div class="content-part">
                            <h4 class="name"><a href="#">Mr. Jitender</a></h4>
                            <span class="designation">Office Executive</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team-2 Section End -->
    </div>
</body>

</html>