<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="blog" class="news blog style1 gray-bg pt-50 pb-50 md-pt-50 md-pb-50 sm-pt-30 sm-pb-30">
        <div class="container">
            <div class="sec-title mb-60 md-mb-30 text-center">
                <div class="sub-title primary">News Update </div>
                <h2 class="title mb-0">Latest News &amp; Notice Board</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 md-mb-50 sm-pb-30 announcement">
                    <h3 class="text-center text-white">Announcement</h3>

                    <marquee direction="up" behavior="scroll" onmouseover="stop()" onmouseout="start()">
                                                <div class="events-short">
                            <p>कांठ में रोजगार मेले में ढाई सौ अभ्यार्थियों का किया गया चयन <a href="https://govitikanth.edu.in/newsandupdates.html">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>Selection of 39 Candidates - Sardhana Kaushal Vikash Center <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>Campus drive is going on at Muzaffarnagar (DDUGKY and UPSDM) <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>Suspended Authorized Learning Centres (ALCs) Sep 2023 Order <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                            </marquee>
                </div>
                <div class="col-lg-4 col-md-12 md-mb-50 sm-pb-30 circulars">
                    <h3 class="text-center">Circulars</h3>

                    <marquee direction="up" behavior="scroll" onmouseover="stop()" onmouseout="start()">
                                                <div class="events-short">
                            <p>Suspended Authorized Learning Centres (ALCs) Sep 2023 Order <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>Campus drive is going on at Muzaffarnagar (DDUGKY and UPSDM) <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>Selection of 39 Candidates - Sardhana Kaushal Vikash Center <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>IGCSM RPL New Target - 500 - in Apperal &amp; Home Furnishing and Furniture &amp; Fittings at Aligarh UP <a href="https://igcsm.com/">click here</a></p>
                        </div>
                                                <div class="events-short">
                            <p>CIRCLAR 2 <a href="">click here</a></p>
                        </div>
                                            </marquee>
                </div>
                <div class="col-lg-4 col-md-12 gallery">
                    <h3 class="text-center text-white">Gallery</h3>
                    <div class="carousel owl-carousel owl-loaded owl-drag" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-sm-device="1" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false" data-lg-device="1" data-xl-device="1" data-xxl-device="2">
                        
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-7200px, 0px, 0px); transition: 0.8s; width: 11520px;"><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2024-11-28 at 2.57.07 PM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-28 at 2.58.44 PM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-29 at 9.33.32 AM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-29 at 9.33.33 AM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/06.webp" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/07.webp" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/new-04.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/04.webp" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2024-11-28 at 2.57.07 PM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-28 at 2.58.44 PM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item active" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-29 at 9.33.32 AM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/WhatsApp Image 2025-01-29 at 9.33.33 AM.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/06.webp" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/07.webp" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/new-04.jpeg" alt="gallery">
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 690px; margin-right: 30px;"><div class="team-item">
                            <div class="imgWrap">
                                <img src="images/gallery/dps/04.webp" alt="gallery">
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>