    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">INDEMNIFICATION</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                You agree to indemnify and hold harmless Indira Gandhi Computer Saksharta Mission(IGCSM) and its
                employees, representatives, agents, and affiliates, against any and all claims, suits, actions, or other
                proceedings brought against them based on or arising from any claim resulting from your breach of this
                Agreement, your violation of any law or third party right, any claim that use of our services has harmed
                a third party, your use of the Site, the Services or your data. You will pay any and all costs, damages,
                and expenses, including, but not limited to, reasonable attorneys’ fees and costs awarded against or
                otherwise incurred by us in connection with or arising from any such claim, suit, action, or proceeding.
                Indira Gandhi Computer Saksharta Mission(IGCSM) reserves the right, in its sole discretion and at its
                own expense, to assume the exclusive defence and control of any claims. You agree to reasonably
                cooperate as requested by Indira Gandhi Computer Saksharta Mission(IGCSM) in the defence of any claims
            </div>
        </div>
    </div>



    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">TERMINATION</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                Indira Gandhi Computer Saksharta Mission(IGCSM) reserves the right, in our absolute discretion, to
                terminate your access to all or part of the Site or Services without notice. Upon such termination or
                suspension you will be denied access to any information or files you have stored on the Site.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">JURISDICTION LIMITATIONS</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                As some jurisdictions do not allow some of the exclusions or limitations as established above, some of
                these exclusions or limitations may not apply to you. In that event, the liability will be limited as
                far as legally possible under the applicable legislation.
            </div>
        </div>
    </div>
    <div class="regBlk my-4">
        <h4 class="smlTtl mb-0">GENERAL PROVISIONS</h4>
    </div>
    <div class="regBlk">
        <h4 class="smlTtl mb-0">Entire Agreement</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                This Agreement incorporates by reference our Privacy Policy which collectively with this Agreement
                contain the entire understanding between the Parties and supersede all prior representations,
                agreements, statement and understandings, either verbal or in writing.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Governing Law</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                This Agreement will be governed in all respects by the laws of India. The Parties may try and resolve
                disputes using certified mediation (such as online dispute resolution processes). If a dispute cannot be
                resolved then the Parties irrevocably submit to the non-exclusive jurisdiction of the Indian courts.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Relationship of Parties</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                Parties are independent contractors and neither Party’s employees will be considered employees of the
                other Party for any purpose. This Agreement does not create a joint venture or partnership, and neither
                Party has the authority to bind the other to any third party.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Assignment</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                You may not assign your rights or obligations under this Agreement to any party, and any attempt to do
                so will be void and without effect. We are free to assign this Agreement.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Amendment</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                You may not amend or waive any provision of this Agreement unless in writing and signed by both Parties.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Titles and Headings</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                Titles and headings are inserted in this Agreement for reference purposes only, and must not be used to
                interpret the Agreement.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Communication and Notices</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                You consent to receive notices and information from us in respect of our Site and services by electronic
                communication. You may withdraw this consent at any time, but if you do so we may choose to suspend or
                close your account / subscription with Indira Gandhi Computer Saksharta Mission(IGCSM). We may provide
                you with notices, including those regarding changes to these terms by email, paper mail, publication on
                our Site, by SMS, or in any other way recognised by law. You may contact us at director@IGCSM.org.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Waiver</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                Our failure to exercise or enforce any right or provision of these terms is not a waiver of such right
                or provision.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Severability</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                If any provision is found by a court of competent jurisdiction to be invalid, the parties agree that the
                court must as far as possible give effect to the parties’ intentions as reflected in it, and these terms
                otherwise remain in full force and effect.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Compliance with Laws</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                In using the Services, you must comply with all applicable laws and regulations and, without limitation
                you must not use Services (or allow them to be used) in connection with or in furtherance of any
                fraudulent scheme or purpose.
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Refund Policy </h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                <ol type="circle">
                    <li>THE AFFILIATION FEES IS NON-REFUNDABLE. </li>
                    <li> Renewal of the IGCSM center shall be done every year before 31st march, on payment of Rs.
                        6000/- only. </li>
                    <li> Affiliation form costs Rs. 250/-. </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="regBlk mt-3">
        <h4 class="smlTtl mb-0">Law Enforcement</h4>
        <div class="card-body">
            <div class="" style="text-align:justify">
                You authorise us to provide any information or comply with any request in relation to you or your
                account that is requested by any government, court or law enforcement agency. We are not obliged to
                verify or validate the identity or authority of any such government, court or law enforcement agency if
                it appears to us, acting in good faith, to be legitimate. All Jurisdiction, Kota, Rajasthan (India).
            </div>
        </div>
    </div>

</div>